[component]
component=cart

[commit_versions]
OFI = 8fa7c5bbbfee7df5194b65d9294929a893eb4093
OPENPA = v1.0.4
MERCURY = 4871023058887444d47ead4d089c99db979f3d93
PSM2 = PSM2_11.2.78

[patch_versions]
OFI = https://raw.githubusercontent.com/daos-stack/libfabric/master/sockets_provider.patch
MERCURY = ../../utils/mercury_bump_unexpected_size.patch
